<div class=" main">
    <div class="left">
        <img src="./../../assets/facebook.svg" width="190px" alt="" srcset="">
        <h2 style="padding-left: 22px;" > Login </h2>
        <div class="spinner-border" role="status" *ngIf="showLoader">
            <span class="sr-only">Loading...</span>
          </div>
    </div>
    <!-- <form action=""> -->
    <div class="right form-group"> 
        <p >{{alert }}</p>
        <input type="text" title="s" [(ngModel)]="username">
        <input type="password" name="" id="" title="h" [(ngModel)]="password">
        <input type="submit" (click)="logUser()" value="Login" style="background-color: #1877f2;color:white;font-weight:bold;font-size:20px">
        <hr/>
        
        <input type="submit" (click)="changeRoute()" value="create new account" style="background-color: #42b72a;color:white;font-weight:bold;font-size:20px">
    </div>
<!-- </form> -->
</div>