<app-navbar></app-navbar>
<div class="h-[60px] w-full"></div>
<div class="w-full h-[calc(100vh-60px)] grid grid-cols-5">
  <div class="w-full h-full col-span-2 bg-white md:col-span-1">
    <h3 class="px-2 py-3 mx-1 text-black">Friends</h3>
    <div
      class="flex flex-row items-center justify-between p-2 mx-2 my-1 rounded-lg hover:bg-gray-300"
    >
      <p class="text-lg text-black">Friend Request</p>
      <p class="text-black">icon</p>
    </div>
    <div
      class="flex flex-row items-center justify-between p-2 mx-2 my-1 rounded-lg hover:bg-gray-300"
    >
      <p class="text-lg text-black">Suggestions</p>
      <p class="text-black">icon</p>
    </div>
    <div
      class="flex flex-row items-center justify-between p-2 mx-2 my-1 rounded-lg hover:bg-gray-300"
    >
      <p class="text-lg text-black">All friends</p>
      <p class="text-black">icon</p>
    </div>
    <div
      class="flex flex-row items-center justify-between p-2 mx-2 my-1 rounded-lg hover:bg-gray-300"
    >
      <p class="text-lg text-black">Birthdays</p>
      <p class="text-black">icon</p>
    </div>
    <div
      class="flex flex-row items-center justify-between p-2 mx-2 my-1 rounded-lg hover:bg-gray-300"
    >
      <p class="text-lg text-black">Custom Lists</p>
      <p class="text-black">icon</p>
    </div>
  </div>
  <div class="w-full h-full col-span-3 p-3 bg-slate-200 md:col-span-4">
    <p class="py-2 text-lg font-bold text-black">Friend Requests</p>
    <div class="flex flex-row flex-wrap">
      <div class="w-48 pb-2 mt-2 ml-3 bg-white rounded-lg sm:w-44">
        <img src="" alt="" class="w-full h-40 rounded-t-lg" />
        <div class="px-3">
          <p class="font-bold">Friend 1</p>
          <p class="">12 mutual friend</p>
          <button
            class="w-full py-1 my-2 text-white bg-blue-600 border-0 rounded-lg"
          >
            Confirm
          </button>
          <button
            class="w-full py-1 my-1 font-bold bg-gray-300 border-0 rounded-lg"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <!-- <div
      class="grid grid-cols-1 space-x-1 space-y-1 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4"
    >
      <div class="h-24 col-span-1 bg-black"></div>
      <div class="h-24 col-span-1 bg-black"></div>
      <div class="h-24 col-span-1 bg-black"></div>
      <div class="h-24 col-span-1 bg-black"></div>
      <div class="h-24 col-span-1 bg-black"></div>
    </div> -->
  </div>
</div>
