<div class=" main">
    <div class="left">
        <img src="./../../assets/facebook.svg" alt="" srcset="">
        <h2 style="padding-left: 22px;">Recent Login</h2>
    </div>
    <form action="">
    <div class="right form-group"> 
        
        <input type="text" title="s">
        <input type="password" name="" id="" title="h">
        <input type="submit" value="submit" style="background-color: #1877f2;color:white;font-weight:bold;font-size:20px">
        <hr/>
        <input type="submit" (click)="changeRoute()" value="Login" style="background-color: #42b72a;color:white;font-weight:bold;font-size:20px">
    </div>
</form>
</div>