<div class=" main">
    <div class="left">
        <img src="./../../assets/facebook.svg" width="190px" alt="" srcset="">
        <h2 style="padding-left: 22px;" > Sign Up </h2>
       {{firstName}}
       {{lastName}}
       {{phoneNumber}}
       {{email}}
       {{password}}
    </div>
    <!-- <form action=""> -->
    <div class="right form-group"> 
        
        <input type="text" title="s" [(ngModel)]="firstName" placeholder="First Name">
        <input type="text" title="s" [(ngModel)]="lastName" placeholder="Last Name">
        <input type="text" title="s" [(ngModel)]="phoneNumber" placeholder="Phone Number">
        <input type="email" name="" [(ngModel)]="email" id="" placeholder="Email">
        <input type="password" [(ngModel)]="password" name="" id="" title="h" placeholder="Password">
        <!-- <label for="" style="padding-left: 20px;">Gender</label> -->
        <!-- <div class="form-check" style="padding-left:40px">
            <input title="k" [(ngModel)]="male"  type="radio" class="form-check-input" id="radio1" name="optradio" value="Male" checked>Male
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check" style="padding-left:40px">
            <input title="k" [(ngModel)]="female" type="radio" class="form-check-input" id="radio2" name="optradio" value="Female">Female
            <label class="form-check-label" for="radio2"></label>
          </div> -->
        <input type="submit" (click)="signUser()" value="submit" style="background-color: #1877f2;color:white;font-weight:bold;font-size:20px">
        <hr/>
        <input type="submit" (click)="changeRoute()" value="Login" style="background-color: #42b72a;color:white;font-weight:bold;font-size:20px">
    </div>
<!-- </form> -->
</div>