<div class="main">
  <div class="left">
    <img src="./../../assets/facebook.svg" width="190px" alt="" srcset="" />
    <h2 style="padding-left: 22px">Sign Up</h2>
  </div>
  <form action="" #refer="ngForm" (ngSubmit)="showconsole()">
    <div class="right form-group">
      <input
        type="text"
        title="s"
        name="firstName"
        #first="ngModel"
        [(ngModel)]="firstName"
        placeholder="First Name"
        pattern="[a-zA-Z]{4,}"
        required
      />
      <br />
      <small class="text-danger" [class.d-none]="first.valid || first.untouched"
        >Invalid or no user name!</small
      >
      <input
        type="text"
        title="s"
        #last="ngModel"
        name="lastname"
        [(ngModel)]="lastName"
        placeholder="Last Name"
        pattern="[a-zA-Z]{4,}"
        required
      />
      <br />
      <small class="text-danger" [class.d-none]="last.valid || last.untouched"
        >Invalid or no last name!</small
      >
      <input
        type="text"
        title="s"
        #phone="ngModel"
        name="phonenumber"
        [(ngModel)]="phoneNumber"
        placeholder="Phone Number"
        pattern="0[7/9][0-9]{8}"
        required
      />
      <br />
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched"
        >Phone number is required!</small
      >
      <input
        type="email"
        name="email"
        #emaill="ngModel"
        [(ngModel)]="email"
        id=""
        placeholder="Email"
        pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />
      <br />
      <small
        class="text-danger"
        [class.d-none]="emaill.valid || emaill.untouched"
        >Envalid or no email!</small
      >
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        pattern=""
        #passwordd="ngModel"
        title="h"
        placeholder="Password"
        required
      />
      <br />
      <small
        class="text-danger"
        [class.d-none]="passwordd.valid || passwordd.untouched"
        >Password is required!</small
      >
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="refer.form.invalid"
      >
        Log in
      </button>
      <hr />
      <input
        type="submit"
        (click)="changeRoute()"
        value="Login"
        style="
          background-color: #42b72a;
          color: white;
          font-weight: bold;
          font-size: 20px;
        "
      />
    </div>
  </form>
</div>
