<div class="eachpost">
  <div class="postHeader">
    <div class="left">
      <div class="profile">
        <img
          src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
          alt=""
          srcset=""
        />
      </div>
      <div class="profileDetail">
        <div class="profileDetailHolder">
          <p style="display: inline">Daily Stock</p>
          <button class="inlinebutton">follow</button>
        </div>
        <p style="margin: 0">3d</p>
      </div>
    </div>
    <div class="right">
      <button class="clear">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="postText">
    <div class="para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nam voluptatem
      omnis doloremque architecto aspernatur commodi fuga veniam necessitatibus.
      Ducimus corporis autem aperiam! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea nam voluptatem omnis doloremque architecto aspernatur
      commodi fuga veniam necessitatibus. Ducimus corporis autem aperiam!
    </div>
  </div>
  <div class="postImages"></div>
  <div class="postData"></div>

  <div class="postAction"></div>
</div>
