<app-navbar></app-navbar>
<!-- <button (click)="logout()" id="logout">logout</button> -->
<div class="h-[60px] w-full"></div>
<div class="all">
  <div class="first">
    <app-sidebar></app-sidebar>
  </div>
  <div class="second">
    <div class="whatisnew">
      <div class="mini">
        <div class="profile"></div>
        <div class="textButton" (click)="this.showAlert = true">
          What is in your mind, User?
        </div>
      </div>
      <div class="buttons">
        <div class="video" (click)="this.showAlert = true">
          <span style="padding: 10px">
            <svg
              width="30px"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z"
              />
            </svg> </span
          >Videos
        </div>
        <div class="image" (click)="this.showAlert = true">
          <span style="padding: 10px">
            <svg
              width="25"
              padding="0 10px"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
              />
            </svg> </span
          >Images
        </div>
      </div>
    </div>

    <div class="posts" *ngFor="let x of posts">
      <app-post
        [content]="x.content"
        data="{{ convertDate(x.dateCreated) }}"
        username="{{ x.appUser.userName }}"
        [images]="x.postImages"
        imgurl="{{ x.appUser.profileImageUrl }}"
        (newItemEvent)="showComment()"
        [likes]="x.postLikes"
        comments="{{ x.postComments.length }}"
        id="{{ x.id }}"
        postPublicId="{{ x.postPublicId }}"
      ></app-post>
    </div>
  </div>
  <div class="main"></div>
</div>

<div class="popup" *ngIf="showAlert">
  <div class="background" (click)="this.showAlert = false"></div>
  <div class="alertBox">
    <div class="header">
      <div class="a"></div>
      <div class="title"><b>Create a post</b></div>
      <div class="close" (click)="this.showAlert = false">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
    </div>
    <div class="body">
      <form action="" #post="ngForm">
        <div class="textPost">
          <textarea
            rows="2"
            cols="45"
            [(ngModel)]="postData"
            name="password"
            #post="ngModel"
            required
            placeholder="what is in your mind , User?"
          ></textarea
          ><br />
        </div>
        <div *ngIf="this.imageURLs.length > 0" class="imageholder">
          <div *ngFor="let image of this.imageURLs">
            <img [src]="image" alt="" srcset="" width="45" height="45" />
          </div>
        </div>
        <div class="imagePost">
          <p *ngIf="this.showLoader">uploading</p>
          <div class="imagebox">
            <app-image-uploader
              (showLoader)="this.showLoader = true"
              (newURL)="addURL($event)"
            ></app-image-uploader>
          </div>
        </div>

        <!-- <input
        title="d"
        type="submit "
        class="btn btn-primary post"
        value="Post"
      /> -->

        <button
          type="submit"
          [disabled]="post.form.invalid"
          class="btn btn-primary post"
          [disabled]="false"
          (click)="Sendpost()"
        >
          Post
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup" *ngIf="comment">
  <div class="background" (click)="this.comment = false"></div>
  <div class="alertBox mt-[5vh] max-h-[90vh] w-[750px]">
    <div class="header">
      <div class="a"></div>
      <div class="title"><b>Comments</b></div>
      <div class="close" (click)="this.comment = false">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
    </div>
    <div class="max-h-[70vh] body relative overflow-y-auto">
      <app-post
        content="{{ [postToComment.content] }}"
        data="{{ [convertDate(postToComment.dateCreated)] }}"
        username="{{ [postToComment.appUser.userName] }}"
        [images]="[postToComment.postImages]"
        imgurl="{{ [postToComment.appUser.profileImageUrl] }}"
        [likes]="[postToComment.postLikes]"
        comments="{{ [postToComment.postComments.length] }}"
        id="{{ [postToComment.id] }}"
      ></app-post>
      <div class="commen w-full">
        <div class="flex flex-row" *ngFor="let x of postToComment.postComments">
          <img
            [src]="x.appUser.profileImageUrl"
            alt=""
            class="w-[40px] h-[40px] rounded-[50%] mx-1"
            srcset=""
          />

          <div class="p-2 rounded bg-gray-100 text-black w-full mb-2">
            <p class="font-bold text-black py-1 m-0 w-full">
              {{ x.appUser.firstName }}
            </p>
            <p class="w-full p-0">
              {{ x.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="commen w-full py-2 bg-white pt-2 flex flex-row">
      <img
        src="http://picsum.photos/40"
        alt=""
        class="w-[40px] h-[40px] rounded-[50%] mx-1"
        srcset=""
      />

      <div class="rounded bg-gray-100 text-black w-full">
        <form
          action=""
          #com="ngForm"
          (ngSubmit)="submitComment(postToComment.id)"
        >
          <input
            type="text"
            placeholder="Write a comment ..."
            class="w-full p-2 border-0 bg-gray-100 rounded"
            id=""
            [(ngModel)]="commentData"
            #com="ngModel"
            name="commentData"
          />
        </form>
      </div>
    </div>
  </div>
</div>
